body,
html {
  height: 100%;
  margin: 0;
}

body {
  background: linear-gradient(270deg, #00bfa5, #64ffda, #00bfa5, #ff9800);
  background-size: 400% 400%;
  animation: Gradient 10s ease infinite;
}
.frog-logo {
  position: fixed;
  right: 20px;
  bottom: 20px;
  transform: rotate(45deg);
}

.title-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.animated-text {
  animation: fadeIn 1s ease-in-out forwards;
  opacity: 0;
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.start-btn {
  transition: transform 0.2s, box-shadow 0.2s;
}

.start-btn:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
